[defaults]
inventory = ./inventory/hosts.yml
host_key_checking = False
roles_path = roles
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml
retry_files_enabled = False
inject_facts_as_vars = False
vault_password_file = ~/.ansible/homelab-vault-pass

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False